body {
  background-color: #4b8282 !important;
}

.background {
  background-image: url('assets/background.png');
  width: 100%;
  height: 400px;
}

.canibal {
  background-image: url('assets/canibal.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: -55px;
  width: 3px;
  height: 60px;
  margin: -3px 5px;
}

.missionario {
  background-image: url('assets/missionario.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: -55px;
  width: 3px;
  height: 60px;
  margin: -3px 5px;
}

.cenario {
  /* height: 700px; */
  width: 960px;
  float: left;
  margin: 0 auto;
  border: 2px solid black;
}

#margens {
  margin: 0;
}

.margem-esquerda {
  /* position: relative; */
  /* left: 0; */
  background-color: darkkhaki;
  /* width: 100px; */
  height: 100px;
}

.margem-direita {
  /* position: relative;
  right: 0; */
  background-color: darkkhaki;
  /* width: 100px; */
  height: 100px;
}

.rio {
  /* position: relative;
  left: 100px; */
  background-color: aqua;
  height: 100px;
  /* width: 200px; */
}

.barco {
  position: absolute;
  top: -10%;
  background-color: brown;
  width: 80px;
  height: 20px;
}

.tripulantes {
  position: absolute;
}

.tripulantes:first-child {
  margin-left: 0px;
}

.buttons-group {
  text-align: center;
  display: flex;
}

.status {
  margin-left: 61%;
  margin-top: 20px;
}